<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Компании</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item ">
                {% url 'core:main' as core_main_page %}
                <a class="nav-link {% if request.path == core_main_page %}active{% endif %}" 
                href="{{core_main_page}}"
                hx-get="{{core_main_page}}"
                hx-target="#main-content"
                hx-push-url="true"
                hx-indicator = "#content-loader"
                hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                hx-custom='title'
                >
                    <span data-feather="file-text"></span>
                    Все компании
                </a>
            </li>
            <li class="nav-item">
                {% url 'core:create_company' as create_company_page %}
                <a class="nav-link {% if request.path == create_company_page %}active{% endif %}" 
                href="{{create_company_page}}"
                hx-get="{{create_company_page}}"
                hx-target="#main-content"
                hx-push-url="true"
                hx-indicator = "#content-loader"
                hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                hx-custom='title'
                >
                    <span data-feather="file-text"></span>
                    Создать
                    <span data-feather="plus-circle"></span>
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Менеджеры</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                {% url 'core:users' as users_page %}
                <a class="nav-link {% if request.path == users_page %}active{% endif %}" 
                href="{{users_page}}"
                hx-get="{{users_page}}"
                hx-target="#main-content"
                hx-push-url="true"
                hx-indicator = "#content-loader"
                hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                hx-custom='title'
                >
                    <span data-feather="users"></span>
                    Все менеджеры
                </a>
            </li>
            <li class="nav-item">
                {% url 'core:create_user' as create_user_page %}
                <a class="nav-link {% if request.path == create_user_page %}active{% endif %}" 
                href="{{create_user_page}}"
                hx-get="{{create_user_page}}"
                hx-target="#main-content"
                hx-push-url="true"
                hx-indicator = "#content-loader"
                hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
                hx-custom='title'
                >
                    <span data-feather="users"></span>
                    Добавить
                    <span data-feather="plus-circle"></span>
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Аналитика</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Отчет 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Отчет 2
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Настройки</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Настройка 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Настройка 2
                </a>
            </li>
        </ul>
    </div>
</nav>