{% extends 'base.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      

      

      <h2 class="title m-5">Все компании</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
            <col width="5%" /> 
    		<col width="6%" /> 
    		<col width="7%" /> 
    		<col width="5%" /> 
    		<col width="20%" /> 
    		<col width="5%" /> 
          <thead>
            <tr>
              <th>Дата контакта</th>
              <th>Организация</th>
              <th>Страна, регион</th>
              <th>Город</th>
              <th>Состояние</th>
              <th>Статус</th>
            </tr>
          </thead>
          <tbody>
               <tr>
                <td>02.02.2002</td>
                <td><a href="#">ООО Пример</a><br> ИНН (1234567890)</td>
                <td>Россия, Республика</td>
                <td>ГОРОД</td>
                <td>
                      02.02.2002 15:55 : Зарегистрировано 02.02.2002 15:55<br>
                      02.02.2002 15:55 : Текст комментария<br>
                      02.02.2002 15:55 : Текст комментария 2<br>
                      
                </td>
                <td>Первый контакт</td>
              </tr>
              <tr>
                <td>02.02.2002</td>
                <td><a href="#">ООО Пример</a><br> ИНН (1234567890)</td>
                <td>Россия, Республика</td>
                <td>ГОРОД</td>
                <td>
                      02.02.2002 15:55 : Зарегистрировано 02.02.2002 15:55<br>
                      02.02.2002 15:55 : Текст комментария<br>
                      02.02.2002 15:55 : Текст комментария 2<br>
                      
                </td>
                <td>Первый контакт</td>
              </tr>
              <tr>
                <td>02.02.2002</td>
                <td><a href="#">ООО Пример</a><br> ИНН (1234567890)</td>
                <td>Россия, Республика</td>
                <td>ГОРОД</td>
                <td>
                      02.02.2002 15:55 : Зарегистрировано 02.02.2002 15:55<br>
                      02.02.2002 15:55 : Текст комментария<br>
                      02.02.2002 15:55 : Текст комментария 2<br>
                      
                </td>
                <td>Первый контакт</td>
              </tr>
          </tbody>
        </table>
      </div>
    </main>
{% endblock %}