{% extends 'base.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      

      

      <h2 class="title m-5">Мееджеры</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
            <col width="25%" /> 
    		<col width="25%" /> 
    		<col width="25%" /> 
    		<col width="25%" /> 
    		
          <thead>
            <tr>
              <th>ФИО</th>
              <th>email</th>
              <th>Роль</th>
              <th>Статус</th>
            
            </tr>
          </thead>
          <tbody>
               <tr>
                <td><a href="#">Иванов Иван</a><br></td>
                <td>as@as.as</td>
                <td>Сотрудник</td>
                <td>Активный</td>
                
              </tr>
              <tr>
                <td><a href="#">Иванов Иван</a><br></td>
                <td>as@as.as</td>
                <td>Сотрудник</td>
                <td>Активный</td>
                
              </tr>
              <tr>
                <td><a href="#">Иванов Иван</a><br></td>
                <td>as@as.as</td>
                <td>Сотрудник</td>
                <td>Активный</td>
                
              </tr>
          </tbody>
        </table>
      </div>
    </main>
{% endblock %}